{% extends "budgeting/base.html" %}
<!-- ^ Uses the base template (base.html)-->
{% block content %}
<!-- This is a for loop-->
<!-- double braces allows us to access a variable. We use dot syntax on python dictionary in html. -->

    {% if user.is_authenticated %}
        <div class="text-center">
            <div class="jumbotron" style="max-height: 300px;">
                <div class="container">
                    <h1 class="display-4">
                        Total Amount
                    </h1>
                    <hr class="my-1">
                    <h2 class="display-3">
                        $1000
                    </h2>
                </div>
            </div>
            <h3 class="display-4">
               Spending
            </h3>
            {% if transactions.data|length == 0 %}
                <div class="card" style="background-color: #ffb8b8; margin-left: 15%; margin-right: 15%; padding: 5%">
                    <h4>
                        You have not spent any money
                    </h4>
                </div>
            {% else %}
                <div class="container" style="padding-bottom:3%">
                    <canvas id="pie-chart"></canvas>
                </div>
            {% endif %}
            <h3 class="display-4">
                5 Recent Transactions
            </h3>
        </div>


        <div class="row">
            <div class="col-md-8">
                {% if transactions != None %}
                    {% for transaction in transactions.transaction_list %}
                        <article class="media content-section">
                          <div class="media-body">
                            <div class="article-metadata">
                              {% if transaction.t_type  == 'Withdraw' %}
                                <a class="mr-2" href="{% url 'transaction-detail' transaction.id %}">{{ transaction.t_type}} for {{transaction.source}}</a>
                              {% else %}
                                <a class="mr-2" href="{% url 'transaction-detail' transaction.id %}">{{ transaction.t_type}} from {{transaction.source}}</a>
                              {% endif %}
                              <small class="text-muted">{{ transaction.date_posted|date:"F d, Y"}}</small>
                            </div>
                            <h2>
                              <a class="article-title" href="{% url 'transaction-detail' transaction.id %}">${{ transaction.amount }}</a>
                            </h2>
                          </div>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                  <h3>Create A New Transaction</h3>
                  <p class='text-muted'>Add new transactions here.</p>
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{% url 'transaction-create' parameter='Deposit' %}">Deposit</a></li>
                      <li class="list-group-item list-group-item-light"><a href="{% url 'transaction-create' parameter='Withdraw' %}">Withdraw</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                        <h2>
                          Welcome to Treat Yo Self, a Budgeting Website for your Poor Ass Needs
                        </h2>
                    </div>
                      <p>Please Register or Log In to start.</p>
                  </div>
                </article>
            </div>
        </div>
    {% endif %}
    <script>
        console.log("{{ transactions.data|safe }}");
        console.log("{{ transactions.labels|safe }}");
        let ctx = document.getElementById('pie-chart').getContext('2d');
        let pieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ transactions.data|safe }},
              //data:[100, 200, 500, 1000],
              backgroundColor: [
                '#FFEB99', '#ADFF99', '#99FFF3', '#F399FF'
              ],
              label: 'Money'
            }],
            labels: {{ transactions.labels|safe }},
            //labels:['Dinner', 'Gas', 'PC', 'House'],
            borderWidth:1,
          },
          options: {
            maintainAspectRatio: true,
            aspectRatio: 2.5,
            responsive: true
          }
        });

        //window.onload = function() {
        //  let ctx = document.getElementById('pie-chart').getContext('2d');
        // window.myPie = new Chart(ctx, config);
        //};

    </script>
{% endblock content %}
