{% extends "budgeting/base.html" %}
<!-- ^ Uses the base template (base.html)-->
{% block content %}
<!-- This is a for loop-->
<!-- double braces allows us to access a variable. We use dot syntax on python dictionary in html. -->

<!-- we use object. instead of transaction. because we are not looping through a for loop like our home.html-->
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'transaction-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'transaction-delete' object.id %}">Delete</a>
      </div>
    </div>
    <div id="HASH" class="article-metadata">
      <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
      <span>{{transaction.t_type}}</span>
    </div>
    <div id="HASH" class="article-title">
      <h2 class="mr-2">
        {{transaction.source}}
      </h2>
      <h2 class="mr-6">
        {{object.category}}
      </h2>

      {% if object.t_type  == 'Expense' %}
      <h2 style="color: red">
        - ${{ object.amount }}
      </h2>
      {% else %}
      <h2 style="color:limegreen">
        + ${{ object.amount }}
      </h2>
      {% endif %}
      <p class="article-content">{{ object.notes }}</p>
    </div>
</article>
{% endblock content %}